body {
  background-color: #3f3f44;
  color: #fff;
}

.userInput {
  padding: 8rem 3rem 18rem 3rem;
  /* padding-top: 10rem;
  padding-bottom: 18rem;
  padding-left: 3rem;
  padding-right: 3rem; */
}

.explode-btn {
  margin-right: 0.5rem;
}

.explode-slider {
  padding-top: 1rem;
}

.room-filter {
  padding-top: 4rem;
}

.room-search {
  padding-top: 4rem;
}
